<header>
   <center> <h1>Rekomendasi Habits</h1></center>
   <br>
  </header>
  <div class="band">
    <div class="item-1">
      <a href="https://kratonpusk.jogjakota.go.id/detail/index/13640#:~:text=Berolahraga%20secara%20rutin%20dapat%20meningkatkan,serta%20enggak%20mudah%20terserang%20penyakit." class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/stretching-exercises-concept-illustration_114360-8922.jpg?w=740&t=st=1713842909~exp=1713843509~hmac=7916ee7925d29f23a5287c66da76a04359bf216cd61afee675eae22ce4ba4b1b);"></div>
        <article>
          <h1>Berolahraga</h1>
          <p>Berolahraga secara rutin dapat meningkatkan daya tahan tubuh sehingga tubuh tidak mudah terserang penyakit. Saat berolahraga, tubuh akan lebih bebas bergerak.Hal ini akan memicu proses metabolisme dan sirkulasi darah menjadi lebih lancar. Hasilnya tubuh lebih sehat dan kuat, serta enggak mudah terserang penyakit.  </p>
         
        </article>
      </a>
    </div>
    <div class="item-2">
      <a href="https://blog.segari.id/manfaat-makanan-sehat-untuk-tubuh-dan-keluarga/#:~:text=Manfaat%20Makanan%20Sehat%20Bagi%20Tubuh&text=Makanan%20sehat%20membantu%20menjaga%20berat,sehat%20dan%20menghindari%20risiko%20obesitas.&text=Makanan%20sehat%20memberikan%20energi%20yang%20berkelanjutan%20dan%20meningkatkan%20daya%20tahan%20tubuh." class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/premium-vector/world-food-day-human-hands-hold-plate-with-healthy-food-vector-illustration-food-flat-style_755073-577.jpg?w=740);"></div>
        <article>
          <h1>Makan makanan yang sehat</h1>
          <p>Makanan sehat membantu menjaga berat badan yang seimbang. Dengan memilih makanan yang rendah kalori dan tinggi serat, kita dapat mempertahankan berat badan yang sehat dan menghindari risiko obesitas.</p>
         
        </article>
      </a>
    </div>
    <div class="item-3">
      <a href="https://www.megasyariah.co.id/id/artikel/edukasi-tips/simpanan/manfaat-menabung#:~:text=Dengan%20menabung%2C%20Anda%20dapat%20memenuhi,nya%20semakin%20tumbuh%20dan%20berkembang." class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/family-couple-saving-money_74855-5240.jpg?t=st=1713845226~exp=1713848826~hmac=80320fe233aacd81e115eddc666507a186c0fe1297ca929bd2eb033e978cd916&w=826);"></div>
        <article>
          <h1>Menabung</h1>
          <p>Dengan menabung, Anda dapat memenuhi kebutuhan di masa tua di saat tidak ada lagi pendapatan atau menurunnya pendapatan. Selain itu, dana ini juga dapat Anda investasikan agar jumlahnya tidak tergerus inflasi dan dapat membuat nilai uang nya semakin tumbuh dan berkembang. </p>
       </article>
      </a>
    </div>
    <div class="item-4">
      <a href="https://lamongankab.go.id/beranda/puskesmas-turi/post/12878#:~:text=Meditasi%20adalah%20salah%20satu%20bentuk,setidaknya%20selama%2010%E2%80%9320%20menit." class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/organic-flat-people-meditating-illustration_23-2148920367.jpg?w=740&t=st=1713845822~exp=1713846422~hmac=98b2f242487955e7ba8d21181c5d1e44bf10a3f863be9ccb15fcf3bfbf0e9805);"></div>
        <article>
          <h1>Meditasi</h1>
          <p>Meditasi adalah salah satu bentuk latihan untuk memusatkan dan menjernihkan pikiran, sehingga Anda bisa merasa lebih tenang, nyaman, dan produktif. Praktik ini umumnya dilakukan dengan cara duduk tenang, memejamkan mata, dan mengatur pernapasan perlahan-lahan dan teratur, setidaknya selama 10–20 menit. </p>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a href="https://kumparan.com/berita-terkini/3-manfaat-hidup-berbagi-dan-cara-sederhana-berbagi-kepada-sesama-21dN8k1Y0Gl" class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/hand-drawn-flat-giving-tuesday-illustration_23-2149140038.jpg?t=st=1713845594~exp=1713849194~hmac=ab0503b8f0b71eea9a761eaf2ca7f0ec732a1bab727c5928d87e25314570db33&w=740);"></div>
        <article>
          <h1>Berbagi</h1>
         <p>Berbagi kepada sesama juga dapat menularkan kebaikan. Orang-orang yang pernah dibantu biasanya akan melakukan hal yang sama kepada orang lain yang membutuhkan. Itulah yang disebut dengan kebaikan yang menular.</p>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a href="https://www.kompas.com/sains/read/2023/08/17/170000623/apakah-manfaat-menulis-jurnal-#:~:text=Menulis%20jurnal%20memberikan%20jeda%20yang,diri%20yang%20jauh%20lebih%20baik." class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/hand-drawn-college-entrance-exam-illustration_23-2150359359.jpg?t=st=1713846506~exp=1713850106~hmac=289c18111c74dd2c069fc2dc0c3be262271f69894baa2e72e8ab01c40d559c33&w=740);"></div>
        <article>
          <h1>Menulis Jurnal</h1>
            <p>Menulis jurnal memberikan jeda yang sangat dibutuhkan untuk membantu kita terhubung kembali dengan diri kita sendiri dan menemukan kembali siapa diri kita. Seseorang terus berkembang. Membuat jurnal membantu seseorang untuk mendengarkan, menjadi saksi atas perubahan ini, dan mengenal diri yang jauh lebih baik.</p>
         
        </article>
      </a>
    </div>
    <div class="item-7">
      <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281" class="card">
        <div class="thumb" style="background-image: url(https://img.freepik.com/free-vector/man-reading-illustration_114360-8535.jpg?w=740&t=st=1713846872~exp=1713847472~hmac=2589c2fa0639f9c3c9e3e61e3e102d3cd395da180e0e64988503e5d0564cc9d2);"></div>
        <article>
          <h1>Membaca</h1>
          <p>Membaca buku sangat baik sebagai latihan otak dan pikiran. Membaca dapat membantu menjaga otak agar selalu menjalankan fungsinya secara sempurna. Saat membaca, otak dituntut untuk berpikir, menganalisis berbagai masalah, mencari jalan keluar dan solusi hingga menemukan hal-hal baru. </p>
         
        </article>
      </a>
    </div>
    <div class="item-7">
        <a href="https://greatnusa.com/artikel/pengertian-manajemen-waktu/#:~:text=Manajemen%20waktu%20adalah%20proses%20merencanakan,untuk%20menciptakan%20efektivitas%20dan%20produktivitas." class="card">
          <div class="thumb" style="background-image: url(https://img.freepik.com/premium-vector/time-management-concept-hand-drawn-illustration_23-2148832121.jpg?w=740);"></div>
          <article>
            <h1>Manajemen Waktu</h1>
            <p>Manajemen waktu adalah proses merencanakan, mengontrol, dan menggunakan waktu semaksimal mungkin untuk menyelesaikan tugas tertentu. Menurut Forsyth, manajemen waktu dapat diartikan sebagai cara mengendalikan waktu untuk menciptakan efektivitas dan produktivitas. </p>
           
          </article>
        </a>
      </div>
    </div>    
  </div>
  

  <style>
    html {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

header {
  width: 90%;
  font-family: 'serif';
  max-width: 1240px;
  margin: 0 auto;
}
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  article {
    padding: 20px;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  p {
    flex: 1;
    line-height: 1.4;
  }
  
  span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1 / span 2;
    
    h1 {
      font-size: 24px;
    }
  }
}}
  </style>