#header{
    background-color:lightslategray;
    padding: 2rem;
    font-size: 1.7rem;
    font-family: 'serif';
    margin-top: 0;
    color: rgb(0, 0, 0);

}
#header a{
    color: rgb(0, 0, 0);
    float: right;
    margin-left: 1rem;
   
}

#header img {
    margin-right: 13px; /* Adjust the margin as needed */
  }
/* #header #week-view:hover{

} */